body {
    background: #eee;
    padding: 0 25px;
    font-family: Helvetica;
}

.main {
    width: 500px;
    margin: auto;
    background: white;
    padding: 50px 60px;
    border: solid #ddd;
    position: relative;
    border-width: 0 1px 1px 1px;
}

.main h1 {
    margin-top: 0;
    font-size: 35px;
}

.message {
  padding: 8px;
}

.name {
  display: inline;
  margin-right: 10px;
  font-weight: 700;
}

.text {
  display: inline;
  word-wrap: break-word;
  font-size: 12pt;
}

.sendBox {
  width: 85%;
}

.timestamp {
  color: gray;
}

.rooms {
  width: 200px;
  height: 100%;
  right: -200px;
  top: 0px;
  background-color: #DEDEDE;
  position: absolute;
}

.room {
  display: block;
  padding: 10px;
  border-bottom: 1px solid #C2C2C2;
  text-decoration: none;
  color: #7A1232;
  text-transform: lowercase;
  font-weight: 800;
}

.roomlabel {
  padding: 10px;
  margin-top: 50px;
  font-weight: 800;
  
}

.room:hover {
  background-color: white;
}

.room:visited {
  color: #7A1232;
}